<%= render "shared/navbar" %>
<div class="container mt-5">


    <div class="profile-image">
        <%= cl_image_tag @space.photo.key, :width=>500, :height=>400, crop: :fill, style:"border-radius: 20px" %>
    </div>


  <div style="margin-bottom: 50px">
    <h1><%= @space.title %></h1>
    <h5><%= @space.description %></h5>
    <h5><%= @space.space_type %></h5>
    <h5><%= @space.price_per_month %></h5>
    <h5><%= @space.location %></h5>
  </div>

  <%= link_to 'Back', spaces_path(:location => params[:location]), class: 'btn btn-outline-dark', style: "margin-right: 10px; border-radius: 50px" %>
  <div>
    <% if policy(@space).edit? %>
      <%= link_to "change your offer", edit_space_path(@space), class: "btn btn-outline-dark", style: "margin-right: 10px; border-radius: 50px" %>
    <% end %>

    <% if policy(@space).destroy? %>
      <%= link_to "delete HUB", space_path(@space), method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-outline-danger", style: "margin-right: 10px; border-radius: 50px" %>
    <% end %>


  </div>

    <div class="col-6">
        <div class="container mt-5 border p-3 rounded">
          <%= simple_form_for [@space, @booking] do |f| %>
          <%=   f.input :start_date  %>
          <%=   f.input :end_date %>
          <p> <%= @space.price_per_month%> € per month</p>
          <%=   f.submit 'Book Now', class: "btn btn-warning", style: "border-radius: 50px" %>
          <% end %>
        </div>
    </div>
  

</div>
