<%= render 'shared/navbar' %>
<br><br>
<div class="container mt-5 mb-5">
  <% if @hostings.empty?%>
    <div class="container mt-5 notification">
      <p>Nothing to display here. You are currently not offering a space for rent or nobody has booked it.</p>
      <a class="btn btn-ghost" href="/spaces/new">Become a HUB</a>
    </div>
  <% else %>
  <div class="container">
    <h4>My Hostings</h4>
    <p>Keep track of your spaces and accept or decline a booking.</p>
  </div>
  <div class="container">
    <% @hostings.each do |hosting| %>
    <div class="hostings-card">
      <div class="hostings-card-body">
        <div class="hostings-card-left">
          <div>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
          </div>
          <div class="hostings-card-info">
            <div class="hostings-card-title">
              <h5 class="card-text">Inquiry - <%= hosting.user.first_name %></h5>
              <% if hosting.status == "Accepted"%>
                <p class="card-text status-green" style="border-radius: 50px">Accepted</p>
              <% elsif hosting.status == "Declined"%>
                <p class="card-text status-red" style="border-radius: 50px">Declined</p>
              <% else %>
                <p class="card-text status-red" style="border-radius: 50px">Pending</p>
              <% end %>
            </div>
            <p class="card-text"><%= hosting.start_date %> – <%= hosting.end_date %> <%= hosting.space.title %></p>
          </div>
        </div>
        <div>
          <%= link_to "Accept", confirm_path(status: "Accepted", booking_id: hosting.id), method: :patch, class: "btn btn-secondary", style: "color: white; border-radius: 50px"%>
          <%= link_to "Decline", confirm_path(status: "Declined", booking_id: hosting.id), method: :patch, class: "btn btn-secondary", style: "color: white; border-radius: 50px"%>
        </div>
      </div>
    </div>
      <% end %>
    <% end %>
  </div>
</div>
