<%= render 'shared/navbar' %>
<br><br>
<div class="container mt-5 mb-5">
  <%= link_to "Back", root_path, class: 'create btn btn-outline-dark', style: "border-radius: 50px" %>
  <div class="container mt-5">
    <h4>My booked spaces</h4>
    <p>Check out your upcoming bookings.</p>
  </div>
    <div class="container">
    <div class="row justify-content-between">
      <% if @bookings.nil?%>
        <div class="container mt-5">
          <p><i>Nothing to display here. You currently dont have any bookings.</i></p>
        </div>
      <% else %>
        <% @bookings.each do |booking| %>
          <div class="card mb-4" style="width: 18rem; border-radius: 7px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)">
            <% if booking.space.photo.attached? %>
              <%= cl_image_tag booking.space.photo.key, crop: :fill, class: "card-img-top" %>
            <% else %>
              <img src="<%= booking.space.photo_url %>" alt="" height=215px >
            <% end %>

            <div class="card-body">
              <% if booking.status == "Accepted"%>
                <p class="card-text status-green" style="border-radius: 50px">Accepted</p>
              <% elsif booking.status == "Declined"%>
                <p class="card-text status-red" style="border-radius: 50px">Declined</p>
              <% else %>
                <p class="card-text status-red" style="border-radius: 50px">Pending</p>
              <% end %>
                <h5><%= link_to booking.space.title, space_path(booking.space) %></h5>
                <p class="card-text">space owner: <%= booking.space.user.first_name %> <%= booking.space.user.last_name %></p>
                <p class="card-text">location: <%= booking.space.location %></p>
                <p class="card-text">Start: <%= booking.start_date %></p>
                <p class="card-text">End: <%= booking.end_date %></p>
                <div>
                  <% if policy(booking).edit? %>
                    <%= link_to "edit", edit_booking_path(booking), class: "btn btn-secondary", style: "border-radius: 50px; margin-right: 10px; color: white" %>
                  <% end %>
                  <% if policy(booking).destroy? %>
                    <%= link_to "cancel", booking_path(booking), method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: "btn btn-secondary", style: "border-radius: 50px; margin-right: 10px; color: white" %>
                  <% end %>
                </div>

            </div>
          </div>
          <% end %>
          <% end %>

        </div>
      </div>
    </div>
