<%= render "shared/navbar" %>

<div class="signUp-container">
  <div class="signUp-form">
    <h2>Log into <span style="color: #53B2AC">HUB</span>ert</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mail-field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", label: false, placeholder: 'E-mail' %>
      </div>

      <div class="name-field">
        <%= f.password_field :password, autocomplete: "current-password", label: false, placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="remember-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="buttons-container">
        <%= f.submit "Log in", class: "btn btn-flat", style: "width: 100%" %>
      </div>
    <% end %>
    <div class="login-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
